# Bloquear acceso directo a archivos de configuración
<FilesMatch "^\.env\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Bloquear listado de directorio
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>
